<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>易买网 - 首页</title>
    <link type="text/css" rel="stylesheet" href="../static/css/style.css"/>
    <script type="text/javascript" src="../static/scripts/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="../static/scripts/function.js"></script>
</head>
<body>
<div id="header" class="wrap">
    <div id="logo">
        <img src="../static/images/logo.gif"/>
    </div>
    <div class="help">
        <a href="Shopping" th:id="shoppingBag" class="shopping">购物车X件</a><a
            th:href="${session.err} == null?'Login':'javascript:void(0)'"
            th:text="${session.err} == null?'登录':${session.err}">登录</a>
        <a href="Register">注册</a><a
            href="guestbook.html">留言</a><a href="manage/index.html">后台管理</a>
    </div>
    <div class="navbar">
        <ul class="clearfix">
            <li class="current"><a href="#">首页</a></li>
            <li><a href="#">图书</a></li>
            <li><a href="#">百货</a></li>
            <li><a href="#">品牌</a></li>
            <li><a href="#">促销</a></li>
        </ul>
    </div>
</div>
<div id="childNav">
    <div class="wrap">
        <ul class="clearfix">
            <li class="first"><a href="#">音乐</a></li>
            <li><a href="#">影视</a></li>
            <li><a href="#">少儿</a></li>
            <li><a href="#">动漫</a></li>
            <li><a href="#">小说</a></li>
            <li><a href="#">外语</a></li>
            <li><a href="#">数码相机</a></li>
            <li><a href="#">笔记本</a></li>
            <li><a href="#">羽绒服</a></li>
            <li><a href="#">秋冬靴</a></li>
            <li><a href="#">运动鞋</a></li>
            <li><a href="#">美容护肤</a></li>
            <li><a href="#">家纺用品</a></li>
            <li><a href="#">婴幼奶粉</a></li>
            <li><a href="#">饰品</a></li>
            <li class="last"><a href="#">Investor Relations</a></li>
        </ul>
    </div>
</div>
<div id="position" class="wrap">
    您现在的位置：<a href="/Index">易买网</a> &gt; 购物车
</div>
<div class="wrap">
    <div id="shopping">
        <form th:action="@{/Address}" method="post">
            <table>
                <tr>
                    <th>商品名称</th>
                    <th>商品价格</th>
                    <th>购买数量</th>
                    <th>操作</th>
                </tr>
                <!--th:each="p,itemStat  : ${session.product}"-->
                <tr id="product_id_0" th:each="p,itemStat  : ${session.product}">
                    <td class="thumb"><img width="107" height="107" th:src="@{../static/images/product/{fileName}(fileName=${p.fileName})}"/><a
                            href="product-view.html" th:text="${p.name}">铁三角 Audio-Technica ATH-EQ300M-SV 银色
                        挂耳式耳机</a></td>
                    <td class="price" id="price_id_0"><span>￥[[${p.price}]]</span> <input
                            type="hidden" th:value="${p.price}"/></td>
                    <td class="number"><span name="del">-</span> <input
                            id="number_id_0" type="text" name="number" value="1"/> <span
                            name="add">+</span></td>
                    <td class="delete"><a th:href="@{/Delect/{itemStat}(itemStat = ${itemStat.count})}">删除</a></td>
                </tr>

            </table>
            <div class="total">
                <span id="total">总计：￥0</span>
            </div>
            <div class="button">
                <input type="submit" value=""/>
            </div>
        </form>
    </div>
    <script type="text/javascript">
        document.write("Cookie中记录的购物车商品ID：" + getCookie("product")
            + "，可以在动态页面中进行读取");
    </script>
</div>
<div id="footer">Copyright &copy; 2013 XXX All Rights Reserved.
    京ICP证1000001号
</div>
</body>
</html>